<%- include('../partials/top') %>

    <%- include ('../partials/header') %>

    <%- include ('./banner') %>

    <div class="mt-5" style="margin-bottom: 400px;">
        <h3 class="text-center">About NHM</h3>
    </div>

    <%- include('../partials/footer') %>

<%- include('../partials/bottom') %>
