<%- include('../partials/top') %>

    <!-- Preloader Starts -->
    <div class="preloader">
        <div class="spinner"></div>
    </div>
    <!-- Preloader End -->

<%- include('../partials/header') %>
  

<!-- Banner Area Starts -->
<%- include ('./banner') %>

<!-- Banner Area End -->

   


    <!-- Contact Form Starts -->
    <section class="contact-form section-padding3">
        <div class="container">
            <div class="row">
                <div class="col-md-6 mb-5 mb-lg-0">
                    <div class="d-flex">
                        <div class="into-icon">
                            <i class="fa fa-home"></i>
                        </div>
                        <div class="info-text">
                            <h3>Civil Surgeon Office</h3>
                            <p>Mukand Lal Civil Hospital & Trauma Centre<br>
                            Opp. BSNL Office, Yamuna Nagar – 135001</p>
                        </div>
                    </div>
                    <div class="d-flex">
                        <div class="into-icon">
                            <i class="fa fa-phone"></i>
                        </div>
                        <div class="info-text">
                            <h3>01732-237811 (CMO Office)</h3>
                        </div>
                    </div>
                    <div class="d-flex">
                        <div class="into-icon">
                            <i class="fa fa-envelope-o"></i>
                        </div>
                        <div class="info-text">
                            <h3>dhs.csynr@hry.nic.in</h3>
                            <p>Send us your query anytime!</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 mt-3"> 

                    <form action="/send-query" method="POST">
                        <p class="text-danger"><%= errorMessage %></p>
                        <div class="form-group">
                          <label for="email">Email:</label>
                          <input type="email" name="email" class="form-control" placeholder="Enter email" id="email" required>
                        </div>
                        <div class="form-group">
                            <label for="query">Query:</label>
                            <textarea class="form-control" name="query" placeholder="Enter Query" id="query" rows="5" required>
                            </textarea>
                        </div>
                          
                        <button style="float: left; margin-top: -5px;" type="submit" class="template-btn">Send</button>
                      </form>
                </div>
                <div class="col-12 mt-4">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3450.39677881773!2d77.29779941490077!3d30.14007008184766!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390efbccd7a2d0db%3A0x1c5e16c27180b396!2sMukand%20Lal%20Civil%20Hospital%20And%20Trauma%20Centre!5e0!3m2!1sen!2sin!4v1600498224049!5m2!1sen!2sin"  class="w-100" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                </div>
        </div>
    </section>
    <!-- Contact Form End -->


    <%- include('../partials/footer') %>
   


    <!-- Javascript -->
    <script src="/public/js/vendor/jquery-2.2.4.min.js"></script>
	<script src="/public/js/vendor/bootstrap-4.1.3.min.js"></script>
    <script src="/public/js/vendor/wow.min.js"></script>
    <script src="/public/js/vendor/owl-carousel.min.js"></script>
    <script src="/public/js/vendor/jquery.datetimepicker.full.min.js"></script>
    <script src="/public/js/vendor/jquery.nice-select.min.js"></script>
    <script src="/public/js/vendor/superfish.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDpfS1oRGreGSBU5HHjMmQ3o5NLw7VdJ6I"></script>
    <script src="/public/js/vendor/gmaps.min.js"></script>
    <script src="/public/js/main.js"></script>


<%- include('../partials/bottom') %>

