<%- include('../partials/top') %>

<%- include ('../partials/header') %>

<%- include ('./banner') %>

<div class="container mt-5">
    <div class="row">
        <div class="col-lg-12">
        <h1 style="text-align: center; text-decoration: underline;">Dedicated Civil Hospital (DCH)</h1>
        </div>
    </div>
    <div class = "row mt-5">
        <div class="col-6">
            <p style="font-size: 25px!important;">There are 5 Government & Private Dedicated Covid Hospitals are in Distt. Yamuna Nagar<br><span style="font-weight: bolder;">(ESI Hospital, GABA Hospital, Satosh Hospital, Heart Care Centre & 1  Facility is under Public Private Partnership with IMA, Yamuna Nagar)</span><br>with Beds Capacity of<span style="font-weight: bolder;"> 183 </span> Beds.</p>
        </div>
        <div class="col-6" style="text-align: center; margin-top: 50px;">
            <div class="card" style="border: 0px;">
                <div class="card-title bg-primary">
                    <h3 style="color: white;">No. Of Functional Facilities : </h3>
                </div>
                <div class="card-body">
                    <h1>5</h1>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row mt-5">
    <div class="col-lg-12" style="text-align: center;">
        <p><span style="font-weight: bolder; font-size: 24px;">**NOTE** : </span><span style="font-weight: bold;">34 Quarantine Facilities are also dedicated in District Yamuna Nagar to maintain the pandemic of Covid-19.</span></p>
    </div>
</div>


<hr>
</section>
<section class="hotline-area text-center section-padding">
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h2 style="color: black;">Corona Helpline Yamunanagar</h2><br>
            <span>098176-64700</span><br>
            <span>098178-20600</span><br>
            <span>098178-89600</span><br>
            <br>
            <div class="info-text">
                <h3>Civil Surgeon Office</h3>
                <p style="color: black;">Mukand Lal Civil Hospital & Trauma Centre.<br> BSNL Office, Yamuna Nagar – 135001</p>
            </div>
        </div>
    </div>
</div>
</section>
<%- include('../partials/footer') %>

<!-- Javascript -->
<script src="public/js/vendor/jquery-2.2.4.min.js"></script>
<script src="public/js/vendor/bootstrap-4.1.3.min.js"></script>
<script src="public/js/vendor/wow.min.js"></script>
<script src="public/js/vendor/owl-carousel.min.js"></script>
<script src="public/js/vendor/jquery.datetimepicker.full.min.js"></script>
<script src="public/js/vendor/jquery.nice-select.min.js"></script>
<script src="public/js/vendor/superfish.min.js"></script>
<script src="public/js/main.js"></script>

<%- include('../partials/bottom') %>