<%- include('../partials/top') %>
    <!-- Preloader Starts -->
    <div class="preloader">
        <div class="spinner"></div>
    </div>
    <!-- Preloader End -->

    <!-- Header Area Starts -->
    <%- include('../partials/header') %>
    <!-- Header Area End -->

    <!-- Banner Area Starts -->
    <%- include ('./banner') %>

    
    <!-- Welcome Area Starts -->
    <section class="welcome-area p-5">

        <section class="feature-area section-padding">
            <div class="container">
                <h2 class="text-center">COVID-19 Tally!</h2>

                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h4 class="text-center">District Yamunanagar CENSUS</h4>
                    </div>
                    <div class="col-lg-12 text-center">
                        <h4>Covid Tally Last Updated On : <%= new Date(updatedAt.toLocaleString()).toLocaleString("en-US", {timeZone: "Asia/Kolkata"}) %> </h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <div class="single-feature text-center item-padding">
                            <h4>Total Sample Taken</h4>
                            <h3><%= total_sample_taken %></h3>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="single-feature text-center item-padding mt-4 mt-md-0">
                            <h4>Positive Reported</h4>
                            <h3><%= positive_reported %></h3>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="single-feature text-center item-padding mt-4 mt-lg-0">
                            <h4>Patient Under Treatment</h4>
                            <h3><%= patient_under_treatment %></h3>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="single-feature text-center item-padding mt-4 mt-lg-0">
                            <h4>Negative Report</h4>
                            <h3><%= negative_reported %></h3>
                        </div>
                    </div>
                </div>
                <div class = "row">
                    <div class="col-12">
                        <script data-cfasync="false" type="text/javascript" src="https://www.geniusdexchange.com/a/display.php?r=3744467"></script>

                    </div>
                </div>
            </div>

        </section>
        
        <div class="container mt-5">
            <div class = "row">
                <div class="col-12">
                    <div class = "row">
                        <div class="col-12">
                            <script data-cfasync="false" type="text/javascript" src="https://www.geniusdexchange.com/a/display.php?r=3745107"></script>
    
                        </div>
                    </div>

                </div>
            </div>
            
            <div class="row">
                <div class="col-lg-5 mt-5">
                    <div class="welcome-img">
                        <img src="/public/images/cmo.jpg" alt="" style="border: 2px solid grey">
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="welcome-text mt-5 mt-lg-0">
                        <h2>Civil Surgeon's Message</h2>
                        <p class="pt-2 text-justify">District Yamuna Nagar is bounded by the state of Himachal Pardesh in the north by the state of Utter Pardesh in the east and south east by the districts of Karnal and Kurukshetra in the south north by Ambala District in the east. Large part of the District Yamuna Nagar come into the Shiwalik foothills, which caters approximate population of more than 12 Lakhs as per census of 2011.
                        The mission of Health Department, Yamuna Nagar is to work in partnership with citizens to foster conditions in which people can be healthy. We promote health, protect health, and prevent disease by providing community health services and programs for all the people of District Yamuna Nagar.</p>
                        <p class="pt-2 text-justify">Civil Surgeon Office is situated in the premises of Mukand Lal District Civil Hospital (DH), Yamuna Nagar named after philanthropist Sh. Mukand Lal Ji, is situated at main inner road of District Head Quarter on Yamuna Nagar – Jagadhri.   Health Department Yamuna Nagar working with One District Hospital, One Sub-District Hospital, 7 UPHC’s, 7 CHC’s & 13 PHC’s round the clock in prevention and cure of District.  CT Scan Center at Mukand Lal District Hospital, Yamuna Nagar & Dialysis Center at Sub-District Hospital, Jagadhri  are working under PPP (Public-Private Partnership) Mode in District.</p>
                        <p class="pt-2 text-justify">Mukand Lal Distt. Civil Hospital is having Trauma Centre, a state of art modern blood bank with facility of component separation, an Advanced Pediatric Center (APC) and almost all specialty Doctors  on an average approximately 1400 to 1500 patients visits daily in various OPDs and more than 150 patients remain admitted in various wards of the hospital.</p>
                        <br>
                        <h4>
                            Dr. VIJAY DAHIYA
                            <br>
                            <br>
                            Civil Surgeon
                            <br>
                            Yamuna Nagar
                        </h4>
                    </div>
                </div>
            </div>
           
        </div>
    </section>
        <section class="hotline-area text-center section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2 style="color: black;">Corona Helpline Yamunanagar</h2><br>
                    <span>098176-64700</span><br>
                    <span>098178-20600</span><br>
                    <span>098178-89600</span><br>
                    <br>
                    <div class="info-text">
                        <h3>Civil Surgeon Office</h3>
                        <p style="color: black;">Mukand Lal Civil Hospital & Trauma Centre.<br> BSNL Office, Yamuna Nagar – 135001</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
        
   <%- include('../partials/footer') %>


    <!-- Javascript -->
    <script src="/public/js/vendor/jquery-2.2.4.min.js"></script>
	<script src="/public/js/vendor/bootstrap-4.1.3.min.js"></script>
    <script src="/public/js/vendor/wow.min.js"></script>
    <script src="/public/js/vendor/owl-carousel.min.js"></script>
    <script src="/public/js/vendor/jquery.datetimepicker.full.min.js"></script>
    <script src="/public/js/vendor/jquery.nice-select.min.js"></script>
    <script src="/public/js/vendor/superfish.min.js"></script>
    <script src="/public/js/main.js"></script>

<%- include('../partials/bottom') %>